<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Year level:</strong>
    <%= student.year_level %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= student.program %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= student.department_id %>
  </p>

</div>
