<p style="color: green"><%= notice %></p>

<h1>List of Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year Level</th>
      <th>Program</th>
      <th>Department</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.year_level %></td>
        <td><%= student.program %></td>
        <td><%= student.department.name %></td>
        <td><%= link_to "Show this student", student %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New student", new_student_path %>
