<p style="color: green"><%= notice %></p>

<h1>List of Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.teacher.name %></td>
        <td><%= link_to "Show this subject", subject %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New subject", new_subject_path %>

