<p style="color: green"><%= notice %></p>

<%= render @subject %>

<% @subject.sections.each do | section | %>
<h3> Section: <%= section.name %><br> 
Room: <%= section.room %> <br> 
Time Slot: <%= section.time_slot %><br> </h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Program</th>
      <th>Year Level</th>
    </tr>
  </thead>
  <tbody>
    <% section.classlists.each do |classlist| %>
      <tr>
        <td><%= classlist.student.name %></td>
        <td><%= classlist.student.program %></td>
        <td><%= classlist.student.year_level %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div>
  <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
  <%= link_to "Back to subjects", subjects_path %>

  <%= button_to "Destroy this subject", @subject, method: :delete %>
</div>
