<%= form_with(model: teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :specialization, style: "display: block" %>
    <%= form.text_field :specialization %>
  </div>

  <div>
    <%= form.label :statatus, style: "display: block" %>
    <%= form.text_field :statatus %>
  </div>

  <div>
    <%= form.label :department_id, "Department", style: "display: block" %>
    <%= form.collection_select :department_id, Department.all, :id, :name, prompt: "Select a department" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
