<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= teacher.specialization %>
  </p>

  <p>
    <strong>Statatus:</strong>
    <%= teacher.statatus %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= teacher.department_id %>
  </p>

</div>
