<p style="color: green"><%= notice %></p>

<h1>List of Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.department.name %></td>
        <td><%= link_to "Show this teacher", teacher %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New teacher", new_teacher_path %>
