<p style="color: green"><%= notice %></p>

<h1>List of Classlists</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Section</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @classlists.each do |classlist| %>
      <tr>
        <td><%= classlist.student.name %></td>
        <td><%= classlist.section.name %></td>
        <td><%= link_to "Show this classlist", classlist %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New classlist", new_classlist_path %>
