<p style="color: green"><%= notice %></p>

<%= render @classlist %>

<div>
  <%= link_to "Edit this classlist", edit_classlist_path(@classlist) %> |
  <%= link_to "Back to classlists", classlists_path %>

  <%= button_to "Destroy this classlist", @classlist, method: :delete %>
</div>
